.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  z-index: 2;
}

.resultContainer {
  border: 2px solid #39394b;
  background-color: #39394b;
  overflow-x: auto;
  max-width: 100%;
  width: 800px;
  padding: 1rem;

  font-size: 14px;
  cursor: grab;
  border-radius: 0 0 10px 10px;
}
.resultContainer__disabled {
  cursor: default;
}
.resultContainer--nav {
  display: grid;
  place-items: center;

  color: #fff;
  font-weight: 500;
  margin-bottom: 1rem;
  letter-spacing: 0.2px;
  padding: 0 0.5rem;
}

.resultContainer--row {
  display: grid;
  place-items: center;

  color: #fff;
  font-weight: 400;
  border-radius: 10px;
  padding: 0.5rem;
}

.shootsList {
  width: 100%;
  height: 100%;
  grid-area: 2/ 1/ 3 span / 8;
  display: grid;
  grid-template-columns: 70px repeat(10, 25px) 1fr;
  place-items: center;
  grid-gap: 1rem;
  padding: 1rem;
}

.shootsList span {
  font-weight: 500;
}
.shootsList span:first-child {
  font-weight: 400;
}
.dropdownButton {
  padding: 0 !important;
}
.dropdownButton svg {
  transition: transform 0s linear !important;
}
.dropdownButton__active svg {
  transform: rotate(180deg) !important;
}

.resultContainer__individual .resultContainer--row {
  width: 800px;
  grid-template-columns: 160px 90px 90px 60px 1fr;
  grid-template-rows: auto auto;
}
.resultContainer__individual .resultContainer--nav {
  width: 800px;

  grid-template-columns: 160px 90px 90px 60px 1fr;
}

.schoolName {
  place-self: center;
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
.error {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  color: #e26a6d;
}
.resultContainer--row:nth-child(even) {
  background-color: #222131;
}

.emptyState {
  text-align: center;
  font-size: 18px;
  color: #cfd9e0;
}
.nameContainer {
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 0.2px;
  font-weight: 500;
}

@media (min-width: 700px) {
  .container {
    padding: 2rem;
  }
  .resultContainer__individual {
    border-radius: 0 0 10px 10px;
    cursor: default;
  }
  .resultContainer__individual .resultContainer--row {
    width: 100%;
    grid-template-columns: 160px 90px 90px 60px 1fr;
  }
  .resultContainer__individual .resultContainer--nav {
    width: 100%;
    grid-template-columns: 160px 90px 90px 60px 1fr;
  }
}

@media (min-width: 608px) {
}
@media (min-width: 760px) {
  .resultContainer {
    font-size: 16px;
  }
}
