.button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  display: grid;
  place-items: center;
}
.button:hover svg {
  fill: #5a57ee;
}
.button:focus svg {
  fill: #4742fd;
}
.button svg {
  fill: white;
  width: 25px;
  height: 25px;
  transition: all 0.1s ease-in;
}
